
body {
  margin: 0;
  padding: 0;
  background-color: rgb(143, 241, 202);
}

h1{
   display: flex;
   justify-content: center;
   color: #4911e2;
}

.labels{
   display: flex;
   justify-content: center;
   color: #4911e2;
}

.values{
   display: flex;
   justify-content: center;
   color: #4911e2;
}

.type1{
    margin-left: 550px;
}

.type2{
    margin-left: 100px;
}

.typeTxt{
    color: #660377;
    font-size: 20px;
}

.but {
  background-color: #660377; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 680px;
    margin-top: 50px;
}

.but:hover {
  background-color: #bd17da;
}

h2{
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.slider {
    margin-left: 550px;
    -webkit-appearance: none;
    width: 30%;
    height: 15px;
    border-radius: 5px;
    background: #165de7;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d146e8;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #d146e8;
    cursor: pointer;
}

.table {
	width: 100%;
	border: none;
	margin-bottom: 20px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #d8d8d8;
	font-size: 14px;
}
.table thead tr th:first-child {
	border-radius: 8px 0 0 8px;
}
.table thead tr th:last-child {
	border-radius: 0 8px 8px 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 14px;
	vertical-align: top;
}
.table tbody tr:nth-child(even){
	background: #f3f3f3;
}
.table tbody tr td:first-child {
	border-radius: 8px 0 0 8px;
}
.table tbody tr td:last-child {
	border-radius: 0 8px 8px 0;
}

td{
    margin-left: 300px;
}